<!DOCTYPE html>
<html ng-app="root" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <base href="." />
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
  <root>
    <span class="loader">Loading...</span>
  </root>
</body>
</html>